*{
    margin: 0px;
}
nav .div{
    display: flex;
    justify-content: space-between;
}

.navimg {
    width: 140px;
    height: 60px;
    margin: 16px 120px;
}

.navlist {
    list-style: none;
    width: 365px;
    height: 34px;
    gap: 32px;
    display: flex;
    font-weight: 700px;
    font-size: 16px;

    margin: 34px 24px;
    
}

.navbtn {
    font-size: 16px;
    font-weight: 600;
    width: 184px;
    
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    background-color: #30B868;
    color: #FFFFFF;
    border-radius: 5px;
    border-color: #30B868;
    margin: 24px 120px;


}

.banner{

    align-items: center;
    width: auto;
    height: auto;

}


.banimg {
    background-image: url(assets/hero-bg.png);
    width: auto;   
    height: auto;         
    background-size: cover;
    background-position: center;
    padding: 115px 0px;

    display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px; 
}




.banup {
    padding: 8px 12px;
    font-size: 16px;
    color: #30B868;
    background-color: #FFFFFF;
    border-radius: 1000px;
    gap: 6px;
}

.banhed {
    color: #FFFFFF;
}

.h1green {
    color: #30B868;
}

.bandes {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
}

.banbtn {
    display: flex;
    gap: 16px;
    justify-content: center;
}



.banbtn1 {
    background-color: #30B868;
    color: #FFFFFF;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 5px;
}

.banbtn2 {
    background-color: transparent;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 5px;
}

.nothed{
    display: flex;
    flex-direction: column;
    margin: auto 120px;

    align-items: center;
}

.nothedbig{

    color: #001931;
    font-size: 48px;
}

.nothedsml{
    color: #627382;
    font-size: 16px;
    line-height: 20px;

}

.recicon{
    
    background-color: #F95555;
    

}

.rectitle{
    font-size: 24px;
    font-weight: 700;
}


.recdes{
    font-size: 16px;
    font-weight: 300;

}

.rectangle{
    height: 151px;
    width: 150px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 24px;
    background-color: aliceblue;
}

.card{
    display: flex;
    gap: 45px;
    padding: 30px;
}


.brain{
    padding: 120px 120px;
}

.braimg{
    height: 600px;
    width: 600px;
    border-radius: 12px;

}

.brainfo{
    padding: 102px 0px;
}

.brainfomes{
    font-size: 16px;
    line-height: 20px;
    color: #30B868;
}

.brainfotitle{
    font-size: 48px;
    color: #001931;

}

.brainfodes{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
}

.braininfoulli{
    font-size: 16px;
    color: black;
    line-height: 20px;

}

.brain{
    display: flex;
    gap: 100px;
}